body {
    background-color: #f8f9fa;
}

.today-news {
    background-color: #fff3cd;
}
.card {
    background-color: #6c757d;
    color: white;
}
.card a {
    color: white;
    text-decoration: none;
}