{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<h1>Все новости</h1>

{% if news_list %}

    {% for news in news_list %}

        <div class="card mb-3">

            <div class="card-body">

                <h3>
                    <a href="{% url 'detail' news.id %}">
                        {{ news.title }}
                    </a>
                </h3>

                <p>
                    {{ news.summary }}
                </p>

                <small>
                    {{ news.date_created|date:"Y-m-d" }}
                </small>

                {% if news.author == user %}
                    <span class="badge bg-success">Ваша новость</span>
                {% endif %}

            </div>

        </div>

    {% endfor %}

{% else %}

    <div class="alert alert-warning">
        Пока новостей нет.
    </div>

{% endif %}


{% endblock %}

